



RewriteEngine On

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

<IfModule mod_headers.c>
    #  Header always set Access-Control-Allow-Origin "*"
    #  Header always set Access-Control-Allow-Methods "POST, GET"
    #  Header always set Access-Control-Allow-Headers "oauth-token"
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php [QSA,NC]